@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 24, 35; 
  --background-rgb: 164, 180, 213; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 235, 245; 
    --background-rgb: 20, 24, 35;
  }
} */

body, main {
  color: black;
  background: #c2cce0;
}

.darkblue{
  background: #6b80bd;
}

.authform {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
} 

.form-label{
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
